/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

.container {
  margin: auto;
  padding: 20px;
  width: 1280px;
  height: 785px;
  background-image: url(/images/word-img.jpg);
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
}
.search-form {
  text-align: center;
}

.form-title {
  margin: 0px 0px 65px 0px;
  color: skyblue;
}
.search-input {
  margin-bottom: 30px;
  width: 350px;
  height: 30px;
  font-size: 30px;
}

.card-container {
  color: whitesmoke;
}
.countries-list {
  width: 300px;
  margin: auto;
  font-size: 30px;
}
.country-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.country-title {
  text-align: center;
  color: whitesmoke;
}
.country-info {
  list-style: none;
}
.country-language {
  list-style: disc;
}

.languages-list {
  list-style: disc;
}

.flag-img {
  margin-left: 100px;
  width: 300px;
}
